[2014-12-26 17:29] runspired opened #1 "Fastclick.js causes input elements to not focus"
I'll be removing it in favor of a built in approach to fastclick.

[2014-12-31 07:59] #1 closed, assigned to nobody

[2015-01-14 08:44] donovan-graham opened #2 "Pan events loses original target"
Hi

I have an app that currently implements ember-hammer/hammer.js@1.0  and would like to use your addon instead.  I switched out addon's and updated the references in my code to reflect the new hammer.js@2 panstart panleft and panright syntax.  All good so far.

I have a couple of element which implement a touch drag event, like sliding in a hamburger menu from the right and sliding a list elemen

[2015-01-14 16:32] runspired commented on #2
I'd be happy to look into this, could you provide a jsbin reproducing this behavior?

[2015-01-15 10:51] donovan-graham commented on #2
Here's an example ember app I've put together for you.
https://github.com/donovan-graham/mobiletouch

[2015-01-15 11:16] donovan-graham commented on #2
I also notice when panning, that a single panLeft event is being called before panStart and then the rest of the panLeft events.  This seems like unexpected behaviour.

[2015-01-20 01:56] huafu opened #3 "Actions with parameters not working"
When using an action with some paramters, it triggers js errors (the arguments are not handled as they should I guess on the overridden `action` helper:
[code]

I guess it's related to another issue I have where the action of a form would not be called:
[code]

The `someAction` never get called here.

[2015-01-20 16:24] runspired commented on #2
@donovan-graham I see you opened an issue on Hammer.js as well, while I'd prefer this was fixed there, that project's maintainer is looking for a new maintainer and is unlikely to fix it soon.

I built mobile-touch in such a way that we can switch out the underlying gesture engine easily, it just requires that gesture engine or a binding to it to emit DOM events with the appropriate names.

Given

[2015-01-20 16:30] runspired commented on #3
the 'submit' button error is likely the click cancel set to prevent default behaviors of clicks, I'd start by looking there.

[2015-01-21 06:30] donovan-graham commented on #2
Thanks for your reply. I've implemented a workaround for the touchstart
event, and currently am creating a new instances (on top of the default
document.body instance) of hammer to handle the end cases which need to
listen for pan events.

Regards, D

Kind Regards
Donovan Graham

donovan@platform7.com

UK +44 (0)208 1444283
SA +27 (0)82 7804636
SA +27 (0)21 5522338

On Tue, Jan 20, 2015 at 6:24 PM

[2015-01-30 16:59] dgavey opened #5 "Pass default touch events"
Since Hammer.js 2 does not have a drag api yet, I need access to the touchstart, touchend and touchmove events. I have added them manually to the hammer-events.js to let them pass through.  I understand that this can be a performance issue though.  I was wondering if there was a way with the current version to allow those events to pass through on a view by view basis like the gestureAllow works n

[2015-01-30 17:06] runspired commented on #5
If you're willing to take the performance hit, the way to do this is to override the events in use in `config/environment.js`

[code]

[2015-01-30 17:19] dgavey commented on #5
Perfect, seems to work ok for now, thanks.  Would love to be able to turn those on only on a specific view though.  I'll see about working on that later.

[2015-01-30 22:07] runspired commented on #5
Thanks, I'll update the docs to reflect that you can do this, as well as to reflect `ENV.mobileTouch.use` which sets which high level gestures are expected (currently all by default, but you can turn stuff off for performance gains if you know you aren't using certain gestures).

Aside: I'd rather a PR for a well implemented solution for drag than one for sending through touchEvents.  The goal her

[2015-01-30 22:07] #5 closed

[2015-01-30 22:10] runspired commented on #2
@donovan-graham does your new approach of listening to `panMove` remove the need for the extra instances in your app?  I ask because in our own app I implemented something I call `touchZones`, essentially a set of CSS class that allow you to invisibly expand the borders of an element using `::before` to capture actions around the edges of critical buttons / gesture zones more consistently.

[2015-01-30 22:10] #2 closed

[2015-02-08 19:03] jarredkenny opened #6 "Action helper does not support HTMLbars."
Hello,

It appears that when ember-mobiletouch overrides Embers action helper it breaks compatibility with HTMLbars.

I am receiving the following error when using the action helper with ember-mobiletouch installed.

Uncaught TypeError: Cannot read property 'call' of undefined

[2015-02-08 19:07] runspired commented on #6
Thanks! I will be issuing a patch early this week as I migrate to HTMLbars myself.  Unfortunately, until the Ember team decides to make mobile environments a higher priority we're left overriding the default action helper, which is a private API and therefore subject to change.

[2015-02-08 19:12] rwjblue commented on #6
I'm not sure where that comment comes from. We have always considered mobile support to be very important. I personally am happy to talk through what changes might be needed here....

[2015-02-08 19:13] runspired commented on #6
I've got an open issue on ember related to this (for which I'd be happy to PR).

[2015-02-09 06:09] #3 closed

[2015-02-17 15:39] runspired commented on #6
@jarredkenny check the develop branch if you can and let me know if you run into any issues.  So far it's looking good in my app but it'd be nice to have a second set of eyes.

[2015-02-17 20:22] zjrosen1 commented on #6
@runspired develop branch is working on ember-cli 0.2.0-beta.1 for me.

[2015-02-17 23:28] #6 closed

[2015-02-24 16:31] Bargs opened #8 "Having pan enabled prevents swipe action from firing"
Swipe doesn't work out of the box with the default config in release 1.3.2 but all the other events enabled by default do. I was using the action helper, and the bound action wasn't getting called at all on swipe.

After disabling the pan event in environment.js, swipes started working.

Let me know if I can provide any additional info that'll help.

[2015-02-24 21:14] kbullaughey opened #9 "should click ember test helper work out of the box for actions?"
I've started switching my app from `ember-hammer` to `ember-mobiletouch` and I was surprised to find that to get `{{action}}` based clicks to trigger in my tests, I need to use:

    triggerEvent('#some-selector', 'tap')

instead of:

    click('#some-selector')

Is this intended behavior? or perhaps I have configured something wrong. It feels like a bug to me, so I figured I'd ask here.

[2015-02-24 21:17] runspired commented on #9
This is intended behavior.

See https://github.com/runspired/ember-mobiletouch#action-helper

[2015-02-24 21:17] #9 closed

[2015-02-24 22:56] thatikuntap commented on #8
Hi, I am having same issue, how do you disable pan in environment.js.

Thx

[2015-02-24 22:58] runspired commented on #8
[code]

[2015-02-24 23:02] thatikuntap commented on #8
I tried this, still swipe is not working, testing in chrome 40

[2015-02-24 23:06] runspired commented on #8
I've never found Hammer's swipe recognizer to be very consistent, especially in a web browser.  Try fine tuning the recognizer's velocity and threshold settings.

[code]

[2015-02-24 23:16] thatikuntap commented on #8
still no response,  below is my environemnt settings

  ENV.mobileTouch = {

      //which gesture families to allow, will create a recognizer for each
      //a minimum of tap must be present, turning off unused gestures can help performance
      use : ['tap', 'press','swipe'],

      //whether to alias "press" to tap within Ember's eventing
      // very useful if you don't need to distinguish

[2015-02-25 17:33] kbullaughey opened #10 "Overwriting Ember.Handlebars.helpers.action causes unpredictable testing behavior"
In the `ember-mobiletouch` initializer the `{{action}}` helper function gets overwritten. However this only happens in `qunit` acceptance tests and not component tests. Additionally, this is not cleaned up on `Application#reset()` which causes unit tests executed before the first acceptance test to behave differently than unit tests executed after the first acceptance test.

This seems undesirable

[2015-02-25 17:40] runspired commented on #10
The code is in the initializer to make certain it is executed automatically (otherwise you have to import the file).  It may be sufficient to follow the accepted answer here for not re-running the initializer: http://stackoverflow.com/questions/27154886/ember-cli-where-to-reopen-framework-classes

I'm open to a PR with that solution if it works, otherwise this will probably need to wait to the wee

[2015-02-26 19:31] kbullaughey commented on #10
The problem is not rerunning the initializer. The problem is that the set up is not done in unit tests, when initializers are not run. Please see the comment on my pull request. I have opted for [this solution](http://stackoverflow.com/a/27245106/1366749) in the same stackoverflow question you cite.

I'm open to suggestions if this solution is not what you're looking for.

[2015-02-26 19:47] kbullaughey opened #12 "support for doubletap"
I was trying to get `hammer.js` doubletap to work, and found that it would require some additional reorganization.

I [hacked together a change][1] that allows the user to add a `doubleTap` handler to components and views, following your conventions. See [the long comment on my branch][2] for an explanation.

[1]: https://github.com/kbullaughey/ember-mobiletouch/compare/master...kbullaughey:double

[2015-02-26 19:57] runspired commented on #12
I hide new features behind config options.  e.g. default of `ENV.mobileTouch.useDoubleTap = false`

In a related note, I've been brainstorming the best way to add custom recognizers.  I have a mixin I'm about to add to the repo for supporting vertical pan and vertical swipe without breaking scroll everywhere else.  For more universal recognizers though, I'd love to expose an easy ability to config

[2015-02-26 20:00] kbullaughey commented on #12
Are you suggesting that I add a `useDoubleTap` flag and just wrap my code in a conditional statement checking this flag? Would you be happy with that as a solution for now, even though the fix I've suggested is kind of hacky?

[2015-02-26 20:01] kbullaughey commented on #12
As a side note, I didn't find any tests for this addon. Do they exist somewhere or do you have a plan for testing? I'm happy to add tests for my modifications, but I wanted to follow your conventions.

[2015-02-26 20:07] runspired commented on #12
I'm merely saying new recognizers / behavior should be added behind a config flag.  The implementation can be reworked, I've got some serious work on the internals coming this weekend.

No tests yet, no formalized plan, but any help you could give here would be massively appreciated.

[2015-02-26 20:12] runspired commented on #12
@kbullaughey If you want, you can PR your changes into the develop branch in advance of the weekend's internal cleanup/refactor.

[2015-03-03 23:39] runspired commented on #12
See https://github.com/runspired/ember-mobiletouch#custom-recognizers

[2015-03-03 23:39] #12 closed

[2015-03-03 23:56] runspired commented on #10
This should be resolved in 1.4.0

See https://github.com/runspired/ember-mobiletouch#testing

Let me know if you need or discover anything else, and thanks so much for the report!

[2015-03-03 23:56] #10 closed

[2015-03-04 00:19] runspired commented on #8
This was a result of the Swipe recognizer needing to be set to recognizeWith the pan recognizer.  This has been fixed in 1.4.1

[2015-03-04 00:19] #8 closed

[2015-03-04 12:52] linearza opened #13 "Taps don't trigger action handlers unless `on="tap"` is explicitly set."
Hi there

It seems the tap gestures don't work well implicitly. At first I thought it had to do with component nesting and actions not being passed through, but testing showed that though the tap gesture bubbles fine, for some reason actions aren't getting triggered.

Please have a look at the demo I setup:
https://github.com/linearza/tap-debug

We've traced the origin of the issue so far back to,

[2015-03-04 15:28] runspired commented on #13
I haven't had a chance to look into your demo too deeply, but with ember 1.9.1 this definitely should not be an issue.

A few things I did notice.

You are also using fastclick.js, this shouldn't interfere but it's not actually necessary.  fastclick and tap are roughly equivalent.

In that demo, you aren't using 1.3.2, you're using a custom fork of mobiletouch with a change that I can see would li

[2015-03-04 16:04] koriroys opened #14 "app does full refresh when link-to helper clicked or tapped"
Did I miss something?

[2015-03-04 16:06] runspired commented on #14
Could you post your link-to helper code as well as what versions you are using of ember-mobiletouch and of ember?  This is likely to be an issue with your link-to helper.

[2015-03-04 17:02] koriroys commented on #14
Sure!

Just using the standard link-to (which if I read correctly from the docs overrides the built in one?):

[code]

"ember-cli": "0.2.0-beta.1"
"ember": "1.10.0",
"ember-data": "1.0.0-beta.15",

[2015-03-04 17:18] runspired commented on #14
Thanks, which version of mobiletouch?

Could you also post the html output of that link-to?  If you use chrome's dev tools and check the box for "preserve log", is there an error thrown just before the refresh?

The only linkview mod that affects this is changing the LinkView's eventName from 'click' to 'tap'.  It's the same as doing `{{#link-to 'projects.show project eventName='tap'}}{{project.ti

[2015-03-04 18:56] koriroys commented on #14
Yep, sorry.

"ember-mobiletouch": "1.4.1",

Actually it seems that link-to works fine, but that putting any kind of div (with content) inside it causes a full refresh.

<h3>Doesn't work:</h3>

[code]

html output:

[code]

<h3>Works:</h3>

[code]

html output:

[code]

<h3>Also works but kinda useless:</h3>

[code]

html output:

[code]

[2015-03-04 18:59] runspired commented on #14
Thanks!  I only bust the click based on the event target, not the current target, so it looks as though the issue is that I need to check the event's current target as well during bubbling.  Might have some time tonight to implement the fix.

[2015-03-04 21:04] thatikuntap commented on #8
I upgraded to 1.4.1, still swipe is not working

[2015-03-04 21:09] runspired commented on #8
I'll reopen the issue if you can you reproduce it in a jsbin.  The default configuration in 1.4.1 definitely allows both swipe and pan gestures to work. That configuration is implemented here: http://codepen.io/anon/pen/bNLJbN?editors=001

[2015-03-04 21:19] thatikuntap commented on #8
Swipe is working, Thanks a lot

[2015-03-05 03:07] kbullaughey opened #16 "clicking on {{#link-to ... }} links randomly causes page to refresh"
For some reason when I click on `{{#link-to "some-route"}} ... {{/link-to}} ` links that route to a new place in my application the page randomly refreshes and loads the whole app again at the URL of the route I'm trying to visit. So I get to the right destination but the whole app gets reloaded as if I typed the URL into the browser address bar.

I can remove the problem by removing `ember-mobile

[2015-03-05 03:10] runspired commented on #16
Same as #14, has been tracked down.  I'm less aggressive about busting clicks on links than I used to be, seems it'll need to rethought.

[2015-03-05 03:10] #16 closed

[2015-03-05 03:28] runspired commented on #13
I tried installing and running your demo tonight but bower barfed all over itself, I'll take another peek tomorrow.

[2015-03-06 05:30] linearza commented on #13
Apologies for the delay. I quickly worked through your suggestions. At the time version 1.3.2 didnt propagate tap gestures at all, so thats why we resorted to the fork. I updated the forks initialiser with the code block but that didnt improve anything. However, after upgrading to version 1.4.2 things seem to be working perfectly! Ive updated my repo in case you want to play around with it.

Thank

[2015-03-06 05:38] #13 closed

[2015-03-06 05:40] runspired commented on #13
Thanks for the feedback, glad to know it's working in 1.4.2

[2015-03-10 21:12] dgavey opened #19 "Events in config not being overwritten"
I see you have added a new section for allowing certain default events through, which is great!  Unfortunately in my testing, the updates overrides I added to my environment.js don't seem to be taking.

I added this:

ENV.mobileTouch = {

    //what default Ember events should be disabled
    events : [
      'mousedown',
      'mouseup',
      'click',
      'dblclick',
      'mousemove',
      '

[2015-03-10 21:15] runspired commented on #19
This definitely sounds like an issue with the config file not being merged with the defaults correctly, I'll take a peek and patch tonight as necessary.

Out of curiosity, what use cases lead you to re-introduce the touch events?

[2015-03-10 21:20] dgavey commented on #19
Thanks, I'd appreciate that!  I

t's for the same reason I wrote about in a previous issue.  I have a sound scrubber that requires dragging the scrub bar across.  I have custom code that handles it right now using the touchStart etc.  I plan on eventually adding a custom touchDrag or something like that in the future. So I don't have to get access to the raw touch events.  If only Hammer had a dra

[2015-03-10 21:27] runspired commented on #19
@dgavey I'm hoping to become a partial maintainer of Hammer along with many others, the current maintainer has been silent so far on allowing group ownership though.  Hopefully that happens soon!

If that does happen, I think drag will be added as an API given that in my experience using `pan` for dragging really doesn't cut it.

Regardless, I'd love a PR here for drag.  It would need to be behind

[2015-03-10 21:31] dgavey commented on #19
Ok sounds good, it's essential for not just our scrubber but other items we want to implement (like sliding menus, pull to refresh etc.) I'll have to hack that in this week, but I'll see if I can find time to implement it here as well in a less 'hacky' sort of way.

I hope the Hammer project gets going again, that would be great news.

[2015-03-12 02:27] #19 closed

[2015-03-12 02:33] runspired commented on #14
@koriroys Version 1.4.3 should resolve this issue, but I'll leave this open until it's been tested in the wild for a bit.

[2015-03-12 13:36] dgavey opened #25 "NPM Install fails"
I'm trying to install 1.4.3 and I got an NPM install error.

shasum check failed for /var/folders/yc/rkmd352n1498h0h6sgr1r4lr0000gn/T/npm-18850-ccda4ea4/registry.npmjs.org/ember-mobiletouch/-/ember-mobiletouch-1.4.3.tgz
npm ERR! Expected: 72414831fb031f18e85eb2f29b4248e617ebe0d9
npm ERR! Actual:   85f291fa8e87085aca112738af21bb9b388efc6f

My node and NPM are up to date.

[2015-03-12 15:59] runspired commented on #25
Have confirmed this and confirmed that it does not appear to be an issue with npm being down (which apparently has led to this in the past).  Trying to trace down potential causes, will republish as soon as possible.

[2015-03-12 22:30] dgavey opened #27 "Positioning an Input directly beneath the location of a recent tap (<500ms) causes it to focus."
I don't have a simple test for you yet, but perhaps you have an idea for me anyway.  I have some tap events that when the route transitions and if there is an input or text area in the same physical area that was touched, then the input or textarea will gain focus. After the route has transitioned.

This happens on both Android and iOS.

Any thoughts?

[2015-03-12 22:36] runspired commented on #27
I'm going to need more data.  I suspect it's the "ghost click" mobile browsers fire off after touchEnd isn't getting cancelled properly, or that the fastfocus mechanism (which picks up on touchEnd) is involved.

Is this version 1.4.2?

I'm working on an ember-cli addon to produce globals builds of ember-addons, this one being the target project.  I'm hoping to land an alpha of that tonight, which

[2015-03-12 23:11] dgavey commented on #27
Yes 1.4.2 and that sounds like an interesting project. I'll watch for your updates. Thanks!

[2015-03-13 01:00] runspired commented on #25
Re-release 1.4.3 as 1.4.4 to see if it was just an issue with that build.  Same issue.  Updating to the latest node and npm to see if it will make this go away.

[2015-03-13 01:15] runspired commented on #25
I upgraded to node 0.12.0 and released 1.4.5 using it.  Was able to download and install via npm successfully.

[2015-03-13 01:15] #25 closed

[2015-03-13 01:59] dgavey commented on #25
1.4.5 installed fine for me too, thanks again!

[2015-03-13 03:05] dgavey commented on #19
Updated to 1.4.5 and the events still were not reading from my config.  I will be submitting a PR with a fix for it shortly.

[2015-03-13 17:46] Bargs opened #29 "Regular links don't work on mobile"
I don't know if this is an actual issue, or a misunderstanding on my part.

I have a couple of regular <a> elements in a template, e.g.:

`<a href="https://www.google.com/">Google</a>`

I'd like them to behave as normal links. This works fine on desktop if I add the `allow-click` class, but on mobile the click still gets busted by the GhostBuster. Is there any way to get these to work on mobile wi

[2015-03-13 18:25] runspired commented on #29
@Bargs this is a known issue with the 1.4 series that's affected by the ongoing refactor introducing `internalClick`.  Tests around the behavior of links (including external links) are currently being developed on the `develop` branch, and the next release in the 1.4 cycle should include a fix for this.

I believe it's currently possible for us to drop the GhostBuster entirely, letting all of thes

[2015-03-13 20:38] Bargs commented on #29
Thanks for the info. I did as you suggested and commented out the buster. So far, so good. My use case isn't terribly complex, but swipes are working and regular link-to and action helpers seem to still work fine. The external links also work on mobile now.

I'll work off this version without the buster for awhile and let you know if I run into any weird issues. Let me know if there's anything spe

[2015-03-17 20:05] dgavey commented on #27
Introducing a delay of 200ms on tap, before the transition, seems to stop this behaviour from happening.

[2015-03-19 05:47] #14 closed

[2015-03-19 07:50] runspired commented on #29
This should be fixed in 1.4.7 and is now under test coverage.  If this remains an issue after upgrading, I'll reopen the issue.

[2015-03-19 11:22] koriroys commented on #14
Thanks!. I'll try to integrate it with my project again and see how it goes!

[2015-03-19 15:06] Bargs commented on #29
I updated to 1.4.7 but I'm still seeing the same issue.

It looks like the ghost buster is still preventing default browser behavior. The new tests only check for events on the view. Since the ghost buster is registered with the body element, it doesn't prevent these events from being triggered on the view, but it does prevent the default browser behavior. That's what it looks like to me at least.

[2015-03-19 15:11] runspired commented on #29
Try the develop branch.

[2015-03-19 16:18] Bargs commented on #29
Still no dice. I think the fastclick property is always undefined in the new conditional in the buster because it's using the native dom event object instead of the jquery event created in the event-dispatcher.

Also, I just noticed that clicks on regular links in a desktop browser no longer work in 1.4.7 or develop (despite using the allow-click class). These events aren't getting busted in preve

[2015-03-19 16:35] runspired commented on #29
I just added separate mobile/desktop tests and removed the click buster on develop.

[2015-03-19 16:39] runspired commented on #29
I suspect this round of changes might affect the focus mechanism.  I'm adding tests for focus behavior tonight, so that will get cleaned up before I push 1.4.8.

[2015-03-19 20:18] runspired commented on #27
There's improved handling of busting ghost clicks in 1.4.8.

- The buster observes the app's rootElement now instead document, ensuring that all clicks that should be busted are caught.
- The buster is defined before other click handlers on the rootElement, giving it precedence to stopImmediatePropagation.

Could you let me know if this issue persists after upgrading.

[2015-03-19 20:20] runspired commented on #29
I improved the tests for desktop vs mobile behavior and added tests for the focus mechanism.  I also improved the click busting story (far fewer rules to sort through, new docs coming).  Try out 1.4.8 and let me know how it goes.

[2015-03-19 20:25] dgavey commented on #27
Unfortunately the issue still exists with 1.4.8.

[2015-03-19 20:39] dgavey commented on #27
Getting an error in 1.4.8 as well,might be related.

TypeError: undefined is not an object (evaluating 'ev.touches.length') is_mobile.js:63

[2015-03-19 20:40] runspired commented on #27
Definitely related, I'm almost done writing up a specific test for this issue, but that might be all that's needed.

[2015-03-19 21:49] Bargs commented on #29
1.4.8 works great! External links are working on both mobile and desktop browsers. :thumbsup:

[2015-03-20 00:35] runspired commented on #27
I was able to generate a test for this issue and tracked down both the undefined error and the root cause of the buster not busting all of the clicks.   Could you check out 1.4.9?

[2015-03-20 01:22] dgavey commented on #27
No more error, but unfortunately it still fires the click event after the transition.  I'll try and get a simple test case for you to try.

[2015-03-20 01:25] dgavey commented on #27
To be clear, it only fires the click event if there is some sort of input or text area on the next screen in the same area where I clicked on the previous screen to start the transition. Basically that input or textbox will gain focus.  It does not trigger other actions or links or anything else interactive.

[2015-03-20 01:47] runspired commented on #27
@dgavey are you sure you don't have some sort of autofocus on?  The test I added for this specifically swaps out an input where the tap took place and triggers the ghost click on the input.  Given how mobile environments have cases where human input is a necessity for an event to be fired, this could be untestable (automatically), but at least from a "detecting the click was properly cancelled"  p

[2015-03-20 01:48] dgavey commented on #27
Yeah, I'm sure.  We are using a lot of helping libraries though. It's possible one of them are interfering.  I'm gonna work on pairing the example down so I can figure it out.  Thanks for all your help!

[2015-03-20 01:57] dgavey commented on #27
Weird, ok I take it back.  It is working on my actual devices.  In my xcode simulators it still seems to be an issue. But as long as the devices aren't doing it. I'm very happy!

[2015-03-20 02:05] dgavey commented on #27
One more, update.  Android on chrome is perfect.  Safari on iOS is still an issue but not as bad as it used to be.  It doesn't trigger quite as often.

[2015-03-20 03:11] runspired commented on #27
I primarily test on Cordova iOS and haven't seen this issue there.  They aren't identical WebViews, but I'm curious what the difference here is.

[2015-03-30 21:02] dgavey opened #33 "Keyboard open triggering focus on input"
I have to inputs vertically aligned above each other. It's a login form.  If the user taps on the username the keyboard opens and then after about 500ms the password field will gain focus.

I was able to determine that if I disabled either focus event between line 152-159 in the event-dispatcher.js then the second input does not gain focus.

I was hoping that this would fix my ongoing transition c

[2015-03-30 21:05] runspired commented on #33
What environment specifics?  I have similar forms in all my apps and have not observed this behavior (cordova ios, chrome, safari, NW.js)

[2015-03-30 21:11] dgavey commented on #33
Cordova iOS.
This occurs in both the emulator for iOS and an actual device. Though it's a bit trickier to make happen on the emulator, you have to click quickly to get it to happen.

[2015-03-30 21:13] runspired commented on #33
Dumb question, do you mean the "username label"? Is the label misnamed?

[2015-03-30 21:17] dgavey commented on #33
Sorry, not very clear.  In this case I have two inputs:

[USERNAME]
[PASSWORD]

They are vertically aligned like above.  If the user clicks on the 'username' input when the keyboard opens the view pans so that the 'password' input is positioned exactly on the screen where the user tapped on the username input and 500ms later the password field gains focus.

Hopefully that is a bit more clear.

[2015-03-30 21:20] runspired commented on #33
Ah, so this is the same ghost click as before then.  I'm going to close this and reference it in the other, and update the name to reflect that this seems to be ghost clicks after clicks on inputs.

[2015-03-30 21:20] #33 closed

[2015-03-30 21:22] runspired commented on #27
#33 shows that this is definitely an issue that affects any input that is moved into the position where the tap recently occurred.

[2015-03-30 21:22] dgavey commented on #33
Ok, but I'm not sure if it's the same.  As I mentioned above, when I tested the route transitions after commenting out the focus events, it did not fix the route transition issue but did fix the password focus issue.  Though I have to say the issues do seem to be very similar.

[2015-03-30 21:28] runspired commented on #33
Similar enough I'd be very surprised if they didn't have the same underlying cause.

[2015-03-30 21:30] dgavey commented on #33
Is there something I can do to help you track this down? I keep playing in the code trying to figure out where it's breaking but not having much luck.

[2015-03-30 21:46] dgavey commented on #33
Another thing I just noted.  You have to tap very fast to make this problem happen. A slower tap on the initial input does not make the second input gain focus.

[2015-03-30 21:48] runspired commented on #33
Related issues and subject matter:

This http://stackoverflow.com/questions/4862599/click-delay-on-iphone-and-suppressing-input-focus
This http://ariatemplates.com/blog/2014/05/ghost-clicks-in-mobile-browsers/

[2015-03-30 21:51] runspired commented on #33
It seems that a touchEnd busting strategy for some input elements is the way to go.  I'll take a peak into the internals of fastclick.js to see what else they came up with.

[2015-03-31 11:10] simonjefford opened #35 "Bringing in ember-mobiletouch as a dependency results in a tmp folder with 700+MB"
I have `ember-mobiletouch: "1.4.9"` in my package.json in an ember-cli 0.2.2 app. When I run npm install then `node_modules/ember-mobiletouch/tmp` contains 725M of files (according to `du -h`)

[2015-03-31 13:06] runspired commented on #35
Ember-mobiletouch does not include a `/tmp` directory, nor does it build one.  This is an issue to address with either `ember-cli`, `broccoli` or `npm`.  There's a discussion here of common reasons large tmp folders occur with broccoli: https://github.com/broccolijs/broccoli/issues/187

[2015-03-31 13:06] #35 closed

[2015-03-31 15:02] simonjefford commented on #35
That doesn't appear to be strictly true. ember-mobiletouch-1.4.9.tgz as downloaded from the npm registry is 111MB big and contains a rather large tmp folder.

https://gist.github.com/simonjefford/bcc97fd0c586d638d810

[2015-03-31 15:13] runspired commented on #35
Looks like ember-cli doesn't include `/tmp` in the list of directories excluded in `.npmignore`, when packaging an addon, but since it is present the `.gitignore` rules are ignored.  I release `1.4.10` at a much smaller, happier size.  Thanks!

[2015-03-31 15:20] simonjefford commented on #35
That was fast work - thanks for fixing!

[2015-04-19 01:58] runspired commented on #27
@dgavey Are you in the ember slack? ember-community-slackin.herokuapp.com

I'm working on this issue currently, as well as implementing a robust drag-and-drop api which I know you'd requested before.

[2015-04-19 03:07] runspired opened #39 "Plan for 2.0 and renaming the project to `ember-gestures`"
### Ambitions
This project aims to provide a powerful, truly platform agnostic gesture API for Ember apps.  You can already use `ember-mobiletouch` in any browser (desktop or mobile), within an app packaged with `NW.js`, or within an app packaged via `cordova/crosswalk` or similar.  As such, `ember-mobiletouch` will be renamed to `ember-gestures` in `2.0`.

### Roadmap
`ember-gestures 2.0` is a sh

[2015-04-19 05:34] runspired opened #40 "Add SVG compatibility and tests."
Suggested by @technomage on Slack.

[2015-04-29 09:40] runspired commented on #40
@technomage tests coming but an interactive example showing SVG is already fully supported is now in the 2.0 docs here: http://runspired.github.io/ember-mobiletouch/#/svg-example

[2015-04-29 09:40] #40 closed

[2015-05-01 00:53] Bargs commented on #29
This issue seems to be back again in version 1.4.10

[2015-05-01 13:44] runspired commented on #29
Confirmed and affecting 2.0 build.

[2015-05-16 21:32] dangreenisrael opened #41 "2 way binding in templates is broken"
As soon as I run npm install ember-mobiletouch --save-dev --save-exact, 2 way binding in templates completely stops working

This bug can be reproduced by using the following steps
1) Place this in any template file ``{{input value=test}} {{test}}`` - test and see that text is mirrored
2) Run the commad ``npm install ember-mobiletouch`` - nothing happens
3) Run the command ``npm install ember-mobi

[2015-05-16 21:45] dangreenisrael commented on #41
I tested this both in my actual app as well as with a fresh install.

[2015-05-16 21:52] runspired commented on #41
What version of ember? This is in production many places without that issue, and does not affect any code relating to bindings or inputs.

—
Chris Thoburn | @runspired
713-898-3236 | Runspired@gmail.com
Http://Runspired.com

On Sat, May 16, 2015 at 4:46 PM, Dan Green <notifications@github.com>
wrote:

[2015-05-16 21:53] runspired commented on #41
Also, which version of mobileTouch, is this the latest beta?

—
Chris Thoburn | @runspired
713-898-3236 | Runspired@gmail.com
Http://Runspired.com

On Sat, May 16, 2015 at 4:46 PM, Dan Green <notifications@github.com>
wrote:

[2015-05-16 22:10] dangreenisrael commented on #41
hammerjs: ~2.0.4
ember: 1.12.0
ember-data: 1.0.0-beta.17
ember-mobiletouch: 2.0.0-beta.1

I am in the process of migrating my app from the old style globals to ember-cli

[2015-05-17 06:05] dangreenisrael commented on #41
Hey Runspired, thanks for the fast response earlier.

In case you were having a hard time reproducing the bug by following those steps, I uploaded a full copy of my 'Hello World' app [here](https://www.dropbox.com/s/4lumy6su2bcrpa0/my-new-app.zip?dl=0)

On a side note, your add-on is AMAZING.  I found a way around using 2 way data binding with jQuery and I am getting ready to use this in a product

[2015-05-17 06:10] dangreenisrael commented on #41
I just tested it with version 1.4.10 and the bug is still there

[2015-05-17 17:21] runspired commented on #41
@dangreenisrael I havent tried this with ember 1.12 or 1.13 yet, it could be something to do with those versions, will dig in this evening.

[2015-05-17 20:24] dangreenisrael commented on #41
Awesome. Thanks.

[2015-05-17 22:28] runspired commented on #41
Have confirmed this is not an issue with `ember-mobiletouch` (the repo has been updated to run against `1.12`, new code about to land in `develop`.

Your issue is this config:
[code]

The events hash is used to determine which default ember events should be removed, it's default value is below.

[code]

It looks as though you are using it to try to add in pan events?  You do not need to do so.

[2015-05-17 22:28] #41 closed

[2015-05-18 08:08] dangreenisrael commented on #41
Thank you so much for the help, that is exactly what it was.  Now I'm curious as to why that would have affected binding though.

[2015-05-18 18:43] runspired commented on #41
@dangreenisrael likely because an event Ember needs to function properly gets removed with that config.

[2015-05-18 18:45] runspired commented on #41
@dangreenisrael because that syntax is actually valid for an older version of mobiletouch that's been deprecated (possibly the deprecation notice didn't get added? I typically make sure there's one there).  With that syntax, those become the events used in place of all ember events.

[2015-05-18 19:30] theworkerant commented on #29
Any news here? I tried 1.4.8 without luck. @Bargs Did you still need to comment out ghost buster here?

[2015-05-18 19:31] runspired commented on #29
@theworkerant working on it :)

[2015-05-18 19:35] theworkerant commented on #29
Any workaround in the mean time?

[2015-05-18 20:12] runspired commented on #29
does adding the class `needsclick` to the link work?

[2015-05-18 20:37] theworkerant commented on #29
Nope, tried that and `allow-click`

[2015-05-20 00:24] runspired opened #42 "Implement Physics Engine"
`draggable` items should have momentum, boundaries, and exhibit environment aware behavior.

Physics helpers should be exposed as low level primitives that can be composed easily, and `draggable` is the default implementation.

[2015-05-20 00:24] #39 closed

[2015-05-20 00:28] runspired opened #43 "Draggable Item"
Implement `draggable`, an item that can be dragged around on screen, following a customizable start gesture (tap, press, etc).

The item should respect boundaries.  Boundaries can be either elements, or the viewport.

Should handle both fixed and absolutely positioned items.

[2015-05-20 00:28] runspired opened #44 "Implement Dropzone"

[2015-05-20 00:28] runspired opened #45 "Implement droppable-item"

[2015-05-20 00:28] runspired opened #46 "implement sortable-item"

[2015-05-20 00:28] runspired opened #47 "implement sortable-list"

[2015-05-22 08:33] arkadiyk opened #49 ""Click" test helper does not work"
I managed to make it work by replacing

`run['default']($el, 'click');`  with `run['default']($el, $el.trigger, 'tap');`

in `ember/ember-testing.js` `click` method.
I guess it should be overwritten by the addon.

[2015-05-22 08:34] arkadiyk opened #50 "Few jshint errors"
[code]

[2015-05-22 16:29] kbullaughey commented on #49
An alternative is to use the `triggerEvent` helper to send a `tap` event:

    triggerEvent('.some .selector', 'tap');

[2015-05-25 17:59] ryanbillingsley opened #51 "Fastclick is missing after install"
I needed to run the `ember-cli-fastclick` generator in order to have the bower component installed.

[2015-05-25 20:44] runspired commented on #50
@arkadiyk these are all part of the 2.0 beta and will get cleaned up before an official 2.0 lands.

[2015-05-25 20:45] runspired commented on #51
With 2.0 fastclick is completely removed.

[2015-05-25 20:45] #51 closed

[2015-05-25 20:48] runspired commented on #49
I'd prefer to provide explicit gesture helpers to overwriting the `click` helper.  Once the full version of `ember 2.0` actions and events lands (looking like that will be around ember 2.1 right now), overriding `click` will likely no longer be necessary.

The solution to this currently is definitely to use the `triggerEvent` helper instead of `click`.

[2015-05-25 21:50] ryanbillingsley commented on #51
I installed 2.0.0-beta1 and got an error that fastclick was missing.

[2015-05-25 22:58] runspired commented on #51
There's a little hook left over in the blueprint that needs removed, I'll make sure to clean that up for the next beta.

[2015-05-25 22:58] runspired commented on #49
@kbullaughey you in the ember slack yet? I've got a group in there for dev talk on this addon.

[2015-05-26 01:21] kbullaughey commented on #49
I am not. Didn't know ember folk were using Slack. I just joined the ember-mobile channel started by you, is that the one? Seems like I can't go very far back in the archive. I started poking around the ember-mobiletouch 2.0 beta and it seemed in too much flux for me to update to at this point for my main project. But I would be interested in having a better sense of what the future direction of e

[2015-05-28 08:23] runspired opened #52 "Glimmer compatibility"
`Ember 1.13.0-beta.x` removes the ability to use `Ember.Handlebars.helpers.view.helperFunction` to create helper functions.  This severely impacts our ability to make the `action` helper more useful.  It's been suggested that we could programmatically re-write `{{action}}` helpers to include `on="tap"` if no event were specified, but I'm not sure that would really be the best way forward.

There a

[2015-05-29 04:59] varoot commented on #52
Does this mean that it's safer to add `on="tap"` to every action for now?

[2015-05-29 05:03] runspired commented on #52
@varoot yes, it does.

[2015-05-31 23:49] devotox commented on #50
could they not be commented out and some are just plain jshint errors like

modules/ember-mobiletouch/components/slide-toggle.js: line 64, col 17, 'value' is already defined.

modules/ember-mobiletouch/utils/make-helper-with-args.js: line 36, col 4, Missing semicolon.

modules/ember-mobiletouch/components/action-area.js: line 79, col 12, Don't make functions within a loop.

[2015-06-01 00:10] runspired commented on #50
dev is on hold while I figure out how I'm going to support the improved actions that landed in 1.13

https://github.com/emberjs/rfcs/blob/00ac2685c86f27d41547012903f485a4ef338d27/active/0000-improved-actions.md

But yes, jshint errors will all be cleaned up before 2.0 release :)

[2015-06-05 16:47] bkCDL opened #53 "Install error - "ember generate""
I was excited when I discovered ember-mobiletouch. I looks to have great potential for my app. I'm trying to install it for the first time today on my Ember-CLI app. I'm using Node 0.10.36, Ember-CLI 0.2.3, and Ember.js 1.11.1. When I type `ember install ember-mobiletouch`, I get this error

Any tips on how to resolve this?

Bryan

[2015-06-07 21:40] timohofmeijer commented on #52
Does this mean this library won‘t work with `Ember 1.13+` (Glimmer) for now?
I‘m getting `Uncaught TypeError: Cannot set property 'helperFunction' of undefined`

[2015-06-07 22:43] runspired commented on #52
@timohofmeijer Correct.  I'm trying hard to rectify this but unfortunately the new actions RFC that was implemented is deficient.  It dramatically improves performance and ease of use of actions (in our favor) when used on components, but leaves actions on elements far behind without an easy path to improve them.

I've talked with core team members, and they would be alright with a small RFC to im

[2015-06-08 00:19] runspired commented on #52
Something I'm mulling right now is that maybe I need to re-evaluate `tap` vs `click` for `ember-mobiletouch` going forward.

As much as I like `tap` as an API and for it’s semantics, it’s just not going to work easily with ember 1.13 and beyond.  While the two events mean and behave differently, their needs are unfortunately greatly intwined.

The proffered solution is to build an AST walker and r

[2015-06-08 11:24] mapohjola commented on #53
I am having the same problem with Ember.js 1.11.1 and Ember-CLI 0.2.3. When I am trying to use the helpers I only get "Uncaught Error: Assertion Failed: A helper named `action-area` could not be found".

[2015-06-09 04:04] bkCDL commented on #53
I upgraded to node 12.4 and ember-cli 0.2.7. Now I'm getting a different error when I run:

    $ ember install ember-mobiletouch

Here's the console output:

(incidently, `sudo npm install ember-mobiletouch` runs just fine)

Bryan

[2015-06-15 05:10] abarax opened #54 "form submit not working"
Hi All,

I am having an issue with my custom button component when trying to submit forms.  The code looks like this:

    <form role="form" {{action 'login' on='submit'}} >
        {{loading-btn buttonLabel="Go"}}
    </form>

And my component:

    export default Ember.Component.extend({
        tagName: 'button',
        classNames: ['btn allow-click'],
        type: 'submit',
        click: fu

[2015-06-16 02:05] kbullaughey commented on #54
Try altering your component as follows:

    export default Ember.Component.extend({
      tagName: 'button',
      classNames: ['btn'],
      type: 'submit',
      attributeBindings: ['type'],
    });

Type is not automatically added as a tag in the html. And it appears you don't need an event handler.

[2015-06-16 02:39] abarax commented on #54
Thanks for the response. I have tried this and it does not work.

[2015-06-17 00:53] #54 closed

[2015-06-17 00:58] kbullaughey commented on #54
Please try again with the the version on master. I fixed some things that should have solved this problem.

[2015-06-17 01:07] kbullaughey commented on #29
I think this has just been fixed on master (i.e., not the beta), and should make the next 1.4.x release. At least I can confirm it works when `allow-click` is set.

[2015-06-17 01:09] runspired opened #56 "Convert `tap` to `click`"
After much discussion with the new lead maintainer on `HammerJS` and members of the Ember team, this project will be parting ways with semantic `tap`.

The reasoning behind this decision largely comes down to when `click` fires on mobile.  Mobile devices often fire a `click` without any pointer-like events having triggered in order to emulate behaviors.

A few examples of this are keyboard based s

[2015-06-17 02:11] abarax commented on #54
Confirmed working. Thank you sir.

[2015-06-17 02:53] abarax opened #57 "TextArea's not focusing"
There is bug with using ember's built in text area helper:
    {{textarea}}

It is probably related to these lines https://github.com/runspired/ember-mobiletouch/blob/master/addon/overrides/event-dispatcher.js#L166

Ember uses the `<textarea/>` tag which is not accommodated by this code.

I would submit a patch but am a little too unfamiliar with the code at this point.

Thanks.

[2015-06-17 02:58] kbullaughey commented on #57
What behavior are you observing and what behavior are you expecting to see? related to focusing?

[2015-06-17 03:06] abarax commented on #57
Ah, sorry. Maybe it is not a bug, I am not sure.

It just requires a long tap in order to be selected.

It may only be noticeable when using a mouse and emulating on iOS or on chrome and setting device to iPhone

[2015-06-17 03:25] runspired commented on #57
There's a fix for this on he develop branch that needs ported

[2015-06-17 03:28] abarax opened #58 "input of type file"
I have a form element that looks like this:

    <input type="file" name="file" accept="image/*;capture=camera">
Clicking on this does not work.

If I change this line https://github.com/runspired/ember-mobiletouch/blob/master/addon/overrides/event-dispatcher.js#L166 to include 'file' it works in mobile browser but still does not work in a regular browser.

Let me know if you need more info.

[2015-06-17 03:28] runspired commented on #57
https://github.com/runspired/ember-mobiletouch/commit/44ce25f3af25ce8838eaef8d667019f474372a02

[2015-06-17 03:31] runspired commented on #58
Thanks for the report, this issue will be fixed by the tap conversion, and currently should be mitigated via use of needsclick.

[2015-06-17 03:41] abarax commented on #58
Unfortunately `needsclick` does not seem to fix it.

I have tried applying the class to the input element and to the component itself.

Thanks for the response, I may just have to wait for the tap conversion.

[2015-06-17 03:46] abarax commented on #57
Ah thanks for that.

[2015-06-24 15:16] #52 closed

[2015-07-01 21:08] Bargs commented on #29
I can confirm that this is working for me on 1.4.11

[2015-07-03 11:55] ssendev opened #61 "ember-cli-fastclick is not installed on ember install"
[code]
results in
[code]

[2015-07-03 13:18] ssendev opened #63 "pan events from outside the browser window are lost"
this is similar to #2. to solve it i wanted to capture the events at the top and redirect them so i added a application view and put the pan, panEnd listener there, but it still only listens to pans on the body (which means only the small area with welcome to ember since the body dosn't have height 100%). if the verticalPan mixin is added to the view panEnd is captured even if the mouse leaves the

[2015-07-03 13:39] ssendev opened #64 "pan events on components duplicate if verticalPanMixin is used"
related to #63

[code]
[code]
[code]
[code]
and for every panend two panends are fired. this even happens if the mixin is not on the component itself e.g. the application-view. on the application-view even with mixin only one panend is fired

--edit
okay this was on master on 2.0 events also duplicate on views

[2015-07-03 15:02] ssendev commented on #58
[code]
can't be clicked either. a click on foo will do nothing while a click directly on the checkbox will toggle the value but not update the checkmark. subsequent clicks won't even change the value anymore.

tested on master and 2.0

[2015-07-04 03:59] runspired commented on #58
@ssendev labels are definitely a different issue altogether, and as I mentioned before they will be solved by reworking the `click` event to function properly whether it was actually a `click` or secretly a `tap` (see #56 )

If this works once, but only once, it's more likely your code.

[2015-07-13 08:43] lolmaus opened #65 "ember-mobiletouch prevents <select> elements from popping out on mobile"
Hi!

When I include `ember-mobiletouch` into my Ember CLI project, `<select>` elements stop working on mobile. Tapping them does not reveal a dropdown list.

The issue is reproducible even in desktop Chrome with mobile device emulation.

This is probably an issue of oneof `ember-mobiletouch` dependencies. Please direct me where to repost this report.

[2015-07-13 12:09] herom opened #66 "GH-Pages: Primitives(Dropping) and Docs(Customizing) don't work"
Hey,
I've just came along this awesome plugin and I wanted to check out how one would build a **drag and drop** example, so I surfed to your examples page but I can't see the **Primitives --> Dropping** page, nor the **Docs --> Customizing** page (tested on Win 8.1/Chrome latest, iPad iOS Safari 8.3).

[2015-07-13 15:08] frederikbosch opened #67 "[2.0] Conjunction with components: click events fired twice on mobile devices"
Inside components we have something like.

[code]

But these click events fire twice (sometimes) when ember-mobiletouch is installed and while using it on a mobile device (desktop is fine). Am I missing something from the docs? Is my threshold too low? We are on Ember 1.11.1 with ember-mobiletouch 2.0.0-beta.1. Below is the mobile config.

[code]

[2015-07-13 20:34] runspired commented on #67
@frederikbosch can you try this with 1.4.11

[2015-07-13 20:34] runspired commented on #66
@herom The docs need updating, drag and drop got pushed to a branch and will be delayed until a separate addon project is ready

[2015-07-13 20:36] runspired commented on #65
@lolmaus the issue is that ember-mobiletouch is using `HammerJS` as a fastclick, a not uncommon approach, but something which causes a lot of smaller issues since Hammer doesn't adequately fix `pointer` events.  An upcoming release of HammerJS will address this, and this bug will be patched here until then.  Thanks for the report!

[2015-07-14 08:01] frederikbosch commented on #67
@runspired That solved it!

[2015-07-14 08:02] frederikbosch commented on #67
Renamed it, to be closed when is not encountered any more in 2.0. Thank you for your quick help.

[2015-07-14 12:44] herom commented on #66
Thanks @runspired - I was hoping to find a "working" solution for my ember application to incorporate drag & drop.... seems like I'm pretty much stuck at this topic as there are no other proper solutions out there I know of :disappointed:

[2015-07-21 20:09] Bargs opened #69 "Container lookup breaks component unit tests"
All of my unit tests that use the `moduleForComponent` helper are currently failing on the container lookup in mobiletouch's EventDispatcher override (line 46). I think this must have started with the 1.4.11 release when that line was added. In the context of the unit test, `this.container` is undefined. Maybe I'm missing something, but the existence of `this.container` on the EventDispatcher seem

[2015-07-21 20:37] Bargs commented on #69
Tried updating to the latest version of ember-qunit, no luck.

[2015-07-22 15:47] lodalo commented on #61
I did not get the issue you are mentioning here. Here is my output:

version: 1.13.1
Installed packages for tooling via npm.
installing ember-mobiletouch
Installing browser packages via Bower...
  install package ember-cli-fastclick
Installing packages for tooling via npm...
  not-cached git://github.com/EightMedia/hammer.js.git#*
Installed packages for tooling via npm.
Installed addon package.

M

[2015-07-28 07:32] ef4 commented on #69
This will fix the issue once it ships in ember-qunit: https://github.com/switchfly/ember-test-helpers/pull/90

[2015-07-28 15:00] runspired commented on #69
:+1:

[2015-07-28 15:20] Bargs commented on #69
@ef4 Ah ha! Thank you. I see there's still some discussion on that PR, if you need someone to test anything out let me know.

[2015-07-28 18:25] ef4 commented on #69
@rwjblue has already released ember-qunit v0.4.7 with this fix.

(I'm pretty sure he's really an advanced Artificial Intelligence that needs no sleep or food. That guy we see at meetups is just his front man.)

[2015-07-28 19:25] runspired commented on #69
confirm.  He is most definitely the product of some alien or artificial intelligence.

[2015-08-07 13:22] sunil-shrestha opened #71 "hammer.js is not installed on ember install"
After running ember install ember-mobiletouch and ember server, it gives the following error.

    Path or pattern "bower_components/hammerjs/hammer.js" did not match any files

Do i need to run any other command or install hammer.js manually?

[2015-08-07 19:07] runspired commented on #67
Closing as this direction for 2.0 was abandoned.

[2015-08-07 19:07] #67 closed

[2015-08-07 19:07] runspired commented on #69
Closing as this is an upstream problem being addressed.

[2015-08-07 19:07] #69 closed

[2015-08-07 19:12] #42 closed

[2015-08-07 19:12] #47 closed

[2015-08-07 19:12] #46 closed

[2015-08-07 19:12] #43 closed

[2015-08-07 19:12] #66 closed

[2015-08-07 19:12] #45 closed

[2015-08-07 19:13] #44 closed

[2015-08-07 19:21] runspired commented on #64
http://codepen.io/runspired/pen/XbGJYr?editors=001

This shouldn't be happening, am investigating.

[2015-08-07 19:22] runspired commented on #63
This is expected behavior, you should fix the height of your body element.   Even if I move the listener to be directly on the Ember route element (which I actually think it is, but will double check) you would have this issue.

[2015-08-07 19:22] #63 closed

[2015-08-08 09:38] ssendev commented on #63
no, the vertical-pan mixin solves the issue which demonstrates that it is possible. Increasing the body size would not help since events from outside the browser windows would still be lost. for an example of what i mean go to googlemaps unmaximize the browser and move the map, even when the mouse leaves the browser and is over the desktop or another window the map still moves.

[2015-08-12 05:41] #61 closed

[2015-08-14 16:53] runspired commented on #56
Completed in `ember-gestures1

[2015-08-14 16:53] #56 closed

[2015-08-14 16:55] runspired commented on #27
Closing as a won't fix edge case.  This is likely fixed by the use of a different approach for fastclick in ember-gestures.

[2015-08-14 16:55] #27 closed

[2015-08-25 15:12] #71 closed

[2015-08-25 15:13] #58 closed

[2015-08-25 15:14] #53 closed

[2015-08-25 15:14] #57 closed

[2015-08-25 15:16] runspired commented on #64
This turns out to be mostly a bug in Hammer's configuration for managers and recognizers leaking which will be fixed in Hammer 2.0.5.

There may be a secondary issue I'll peak at as well.

[2015-08-25 15:18] runspired commented on #49
I'm closing this as I do not intend to fix this issue in ember-mobiletouch, it is is fixed in ember-gestures by not changing click usage to tap usage.

[2015-08-25 15:18] #49 closed

[2015-08-25 15:38] #50 closed

[2015-08-25 15:39] #29 closed